.container {
  display: flex;
}

.avatar {
  border-radius: 1000px;
  border: 1px solid var(--white);
  display: flex;
  background-color: #fff;
  width: 30px;
  height: 30px;
  margin-left: -5px;
  &:first-child {
    margin-left: 0;
  }

  &:hover {
    z-index: 1;
  }
}
