.input {
  padding: 15px 20px 16px;

  width: 100%;
  border: 1px solid var(--light-grey);
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 14px;

  outline: none;

  &:active,
  &:hover,
  &:focus {
    border-color: var(--accent);
  }
}
