@font-face {
  font-family: "LabGrotesque";
  src: url("./assets/fonts/LabGrotesque/LabGrotesque-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "LabGrotesque";
  src: url("./assets/fonts/LabGrotesque/LabGrotesque-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "LabGrotesque";
  src: url("./assets/fonts/LabGrotesque/LabGrotesque-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "LabGrotesque";
  src: url("./assets/fonts/LabGrotesque/LabGrotesque-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "LabGrotesque";
  src: url("./assets/fonts/LabGrotesque/LabGrotesque-Black.ttf");
  font-weight: 700;
}
